	<form action="" method="POST" data-type="modify" data-id="{{ object.id }}" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="id" value="{{ object.id }}" />
		<input type="hidden" name="referer" value="comm" />
		<div class="row border-top-line">
			<div class="col-12"><input type="text" name="title"class="form-width-90" value="{{ object.title }}" /></div>
		</div>
		<div class="row border-bottom-line">
			<div class="col-12"><h4><span style="padding-right: 30px">{{ object.user.last_name }}</span><span>{{ object.registered_date|date:"Y-m-d" }}</span></h4></div>
		</div>
		<div class="row height-200">
			<div class="col-12 view-content-comm"><textarea name="content" class="form-width-90">{{ object.content }}</textarea></div>
		</div>
		<div class="row">
			<div class="col-12 view-content-comm">
				현재 등록된 파일: {{ object.image.name }}<BR /><BR />
				<input type="file" name="img_file" accept="image/gif, image/jpeg, image/png"/>
			</div>
		</div>
		<div class="row">
			<div class="col-12 center">
				<input type="button" onClick="modifyCommSend({{ object.id }})" value="수정" />
				<input type="button" onClick="modifyCancel({{ object.id }})" value="취소" />
			</div>
		</div>
	</form>
