{% extends "base.html" %}

{% block title %}{{ board_category.category_name }} 리스트{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="row block-center board">
	<div class="col-11">
		{% if board_category.category_name %}
			<div class="row">
				<div class="col-12"><h2>{{ board_category.category_name }}</h2></div>
			</div>
			<div class="row">
				<div class="col-12"><h4>{{ board_category.category_desc }}</h4></div>
			</div>
			<div class="row">
				<div class="list-title col-1"><p>No.</p></div>
				<div class="list-title col-5"><p>제목</p></div>
				<div class="list-title col-2"><p>등록자</p></div>
				<div class="list-title col-2"><p>등록일</p></div>
				<div class="list-title col-1"><p>조회</p></div>
				<div class="list-title col-1"><p>추천</p></div>
			</div>
			{% for article in articles %}
			<div class="row">
				<div class="list-contents col-1"><p>{{ article.id }}</p></div>
				<div class="list-contents-title col-5"><p>
					<a href="{% url 'boardview' article.id %}">
						{{ article.title }} 
						{% if article.reply_count > 0 %}
						[{{ article.reply_count }}]
						{% endif %}
					</a>
				</p></div>
				<div class="list-contents col-2"><p>{{ article.user.last_name }}</p></div>
				<div class="list-contents col-2"><p>{{ article.registered_date|date:"Y-m-d" }}</p></div>
				<div class="list-contents col-1"><p>{{ article.view_count }}</p></div>
				<div class="list-contents col-1"><p>{{ article.like_count }}</p></div>
			</div>
			{% empty %}
			<div class="row margin-10 center">
			현재 등록된 게시물이 없습니다.
			</div>		
			{% endfor %}
			<div class="row">
				<div class="col-12 margin-10 center">
					{% if articles.has_previous %}
					<span>
						<a href="?page=1">&laquo; 처음</a>
						<a href="?page={{ articles.previous_page_number }}">이전</a>
					{% endif %}

					{% for page in page_list %}
						{% if page == articles.number %}
							{{ page }}
						{% else %}
							<a href="?page={{ page}}">{{ page }}</a>
						{% endif %}
					{% endfor %}

					{% if articles.has_next %}
						<a href="?page={{ articles.next_page_number }}">다음</a>
						<a href="?page={{ articles.paginator.num_pages }}">마지막 &raquo;</a>
					{% endif %}
					</span>			
				</div>
			</div>
			<div class="row">
				<div class="col-12 margin-10 center">
				<form action="." method="POST" id="search_form">{% csrf_token %}
				<p>
				제목
				<input type="text" name="search_text" id="search_text" value="{{ search_text }}" size="8" />
				<input type="submit" value="검색" />
				</p>
				</form>
				</div>
			</div>
			{% if user.username  and board_category.authority <= user.is_superuser  %}
			<div class="row">
				<div class="col-12 right"><h4><a href="{% url 'boardwrite' board_category.category_code %}">글쓰기</a></h4></div>
			</div>
			{% endif %}
		{% else %}
			<div class="row">
				<div class="list-title col-2"><p>카테고리</p></div>
				<div class="list-title col-4"><p>제목</p></div>
				<div class="list-title col-2"><p>등록자</p></div>
				<div class="list-title col-2"><p>등록일</p></div>
				<div class="list-title col-1"><p>조회</p></div>
				<div class="list-title col-1"><p>추천</p></div>
			</div>
			{% for article in articles %}
			<div class="row">
				<div class="list-contents col-2"><p>{{ article.category.category_name }}</p></div>
				<div class="list-contents-title col-4"><p>
					<a href="{% url 'boardview' article.id %}">
						{{ article.title }} 
						{% if article.reply_count > 0 %}
						[{{ article.reply_count }}]
						{% endif %}
					</a>
				</p></div>
				<div class="list-contents col-2"><p>{{ article.user.last_name }}</p></div>
				<div class="list-contents col-2"><p>{{ article.registered_date|date:"Y-m-d" }}</p></div>
				<div class="list-contents col-1"><p>{{ article.view_count }}</p></div>
				<div class="list-contents col-1"><p>{{ article.like_count }}</p></div>
			</div>
			{% empty %}
			<div class="row margin-10 center">
			현재 등록된 게시물이 없습니다.
			</div>		
			{% endfor %}
		{% endif %}
	</div>
</div>
<div class="height-100"></div>

{% endblock %}
