{% extends "base.html" %}

{% block title %}{{ board_category.category.category_name }} - 게시물 작성 {% endblock %}

{% block script %}
{% load static %}<SCRIPT SRC = "{% static 'boardapp/assets/js/boards.js' %}"></SCRIPT>
{% if user.username == "" %}
<SCRIPT>
	alert('잘못된 접근입니다.');
	location.href="{% url 'main' %}";
</SCRIPT>
{% endif %}
{% endblock %}

{% block content %}
<div class="row block-center board">
	<div class="col-10">
		<form id="write_form" action="{% url 'boardwriteres' %}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="category_id" value="{{ board_category.id }}" />
		{% csrf_token %}
		<div class="row">
			<div class="col-12"><h4>{{ board_category.category_name }} - 게시물 작성</h4></div>
		</div>
		<div class="row border-top-line">
			<div class="col-1 right"><p>작성자</p></div>
			<div class="col-11"><p>{{ user.last_name }}</p></div>
		</div>
		<div class="row">
			<div class="col-1 right"><p>제목</p></div>
			<div class="col-11"><input type="text" name="title" id="title" class="form-width-90" /></div>
		</div>
		<div class="row height-400">
			<div class="col-1 right"><p class="middle">내용</p></div>
			<div class="col-11"><textarea name="content" id="content" class="form-width-90"></textarea></div>
		</div>
		<div class="row">
			<div class="col-1 right"><p class="middle">이미지</p></div>
			<div class="col-11"><input type="file" name="img_file" accept="image/gif, image/jpeg, image/png" /></div>
		</div>
		<div class="row">
			<div class="col-12 center">
				<input type="button" onClick="writeSend()" value="작성" />
				<input type="button" onClick="location.href='{% url 'boardlist' board_category.category_code %}'" value="취소" />
			</div>
		</div>
		</form>
	</div>
</div>
{% endblock %}
