{% extends "base.html" %}

{% block title %}회원정보 조회 {% endblock %}

{% block script %}
  {% load static %}<SCRIPT SRC = "{% static 'boardapp/assets/js/user.js' %}"></SCRIPT>
{% endblock %}

{% block content %}

{% if form.errors %}
<script>alert("비밀번호 변경이 잘못되었습니다. 올바르게 입력해 주시기 바랍니다.");</script>
{% endif %}
<div class="row block-center">
	<div class="card-box col-6">
	<form id="password_change_form" action="." method="POST">
	{% csrf_token %}
		<div class="row">
			<div class="col-12"><h2>회원정보 조회 / 비밀번호 변경</h2></div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				ID: <span class="margin-left-10">{{ user.username }}</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">{{ form.old_password.label_tag }} 
				<span class="margin-left-10">
					{{ form.old_password }}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">{{ form.new_password1.label_tag }}
				<span class="margin-left-10">
					{{ form.new_password1 }}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">{{ form.new_password2.label_tag }}
				<span class="margin-left-10">
					{{ form.new_password2 }}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				이름:  <span class="margin-left-10">{{ user.last_name }}</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				E-mail: 
				<span class="margin-left-10">{{ user.email }}</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				전화번호: 
				<span class="margin-left-10">{{ user.phone }}</span>
			</div>
		</div>
		<div class="row">
			<div class="ml-1 col-11">
				생년월일: 
				<span class="margin-left-10">{{ user.date_of_birth | date:"Y년 n월 j일" }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-12 center">
				<input type="button" value="비밀번호 변경" onClick="changePassword()" />
				<input type="button" value="이전화면" onClick="window.history.back()"/>
			</div>
		</div>
	</form>
	</div>
</div>
{% endblock %}
