{% extends "base.html" %}

{% block title %}회원가입 완료 {% endblock %}

{% block content %}
<div style="height: 70px;"></div>
<div class="row block-center">
	<div class="card-box col-8">
		<div class="row">
			<div class="col-12">
				<h3 class="margin-bottom-10">회원가입이 완료되었습니다.</h3>
				<h3 class="margin-bottom-10">AWS / Django Web Application의 서비스를 이용할 수 있습니다.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 center">
				<input type="button" value="로그인" onClick="location.href={% url 'login' %}" />
				<input type="button" value="메인화면" onClick="location.href={% url 'main' %}" />
			</div>
		</div>
	</div>
</div>
{% endblock %}
